.ToyMiniDoll {
  margin: 0 auto;
  .CategoryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 86px;
    width: 1080px;
    .listFilter {
      z-index: 50;
      display: inline-block;
      display: flex;
      width: 375px;
      position: relative;
      height: 45px;
      border: 1px solid rgb(227, 229, 232);

      .imgOptions {
        width: 375px;
        border-right: 1px solid rgb(227, 229, 232);
        border-bottom: 1px solid rgb(227, 229, 232);
        border-left: 1px solid rgb(227, 229, 232);
      }
    }
  }

  .toyBanner {
    display: flex;
    position: relative;
    justify-content: center;
    width: 1080px;
    margin: 0 auto;

    img {
      margin-top: 66px;
    }

    p {
      position: absolute;
      top: 155px;
      left: 0px;
      font-weight: bold;
      line-height: 1.25;
      letter-spacing: -0.2px;
      color: rgb(255, 255, 255);
      height: 43px;
      font-size: 36px;
      margin-left: 30px;
    }
  }
}
