.ItemLists {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 1080px;
  margin: 0 auto;

  .itemListWrap {
    position: relative;
    width: 255px;
    height: 381px;
    cursor: pointer;

    .item {
      width: 255px;
    }

    .itemSubject {
      position: relative;
      display: flex;
      flex-direction: row;

      .topItemSubject {
        width: 220px;
        font-size: 16px;
        color: #777777;
        margin: 10px 0px 5px 0;
      }
    }

    .itemCost {
      .itemCostNum {
        font-size: 16px;
        font-weight: bold;
      }

      .itemSaleCostNum {
        font-size: 16px;
        font-weight: bold;
        color: #ff447f;
      }

      .originCost {
        letter-spacing: -0.25px;
        color: rgb(154, 154, 158);
        margin-left: 6px;
        text-decoration: line-through;
        margin: 0;
      }
    }

    .opacityWrap {
      position: absolute;
      width: 255px;
      height: 255px;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.02);
    }
  }

  .buyImg {
    position: absolute;
    right: 0px;
    top: 260px;
    width: 32px;
    height: 32px;
    margin-top: 1px;
    background: url("https://t1.kakaocdn.net/friends/new_store/2.0/common/basket-pink-3.png")
      center center / 100% no-repeat;
  }

  .buyImgAble {
    width: 32px;
    height: 32px;
    right: 0;
    cursor: pointer;
    background: url("https://t1.kakaocdn.net/friends/new_store/2.0/common/basket-pink.png")
      center center / 100% no-repeat;
  }
}
