.ItemLists {
  display: flex;
  flex-flow: wrap;
  width: 1100px;
  margin: 0 auto;

  .itemListWrap {
    position: relative;
    width: 255px;
    height: 381px;
    margin-right: 20px;

    .item {
      width: 255px;
    }

    .itemSubject {
      position: relative;
      display: flex;
      flex-direction: row;

      .topItemSubject {
        width: 220px;
        font-size: 16px;
        color: #777777;
        margin: 10px 0px 5px 0;
      }
      .buyImg {
        width: 32px;
        height: 32px;
        left: 229px;
      }
    }

    .itemCost {
      .itemCostNum {
        font-size: 16px;
        font-weight: bold;
      }

      .won {
        font-weight: bold;
      }
    }

    .buyImg {
      position: absolute;
      width: 32px;
      height: 32px;
      margin-top: 1px;
    }

    .opacityWrap {
      position: absolute;
      width: 255px;
      height: 255px;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.02);
    }
  }
}
