.list {
        width: 100%;
        height: 56px;
        border-bottom: 1px solid rgb(237, 237, 237);
        display: flex;
        li {
            width: 106px;
            list-style-type: none;
            text-align: center;
            align-items: center;
        }
    }

