@import "../../../../styles/Common.scss";

.CardContent3 {
  .imgWrapImg {
    width: 329px;
    height: 247px;
    margin: 0px 0px 20.1px;
  }

  .itemListWrap {
    .itemListLi {
      display: flex;
      flex-flow: wrap;
    }
  }

  .content {
    padding: 0px 23px 40px;
  }

  .cardContents {
    width: 329px;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 15px 0px;
    border-radius: 5.9px;

    .detailWrap {
      margin: 0 20px;
      padding: 20px 20px 30px;

      .detailLabel {
        height: 22px;
        background-color: rgb(62, 210, 229);
        padding: 0 8px;
        line-height: 22px;
        border-radius: 2px;
        display: inline-block;
        font-family: SFProText;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
      }

      h3 {
        margin-top: 11px;
        margin-bottom: 10px;
        font-size: 28px;
        letter-spacing: -0.29px;
        font-family: SFProText;
        font-weight: bold;
        width: 290px;
        line-height: 34px;
      }

      p {
        font-size: 16px;
        letter-spacing: -0.25px;
        line-height: 24px;
        font-family: SFProText;
        color: rgb(102, 102, 102);
      }
    }

    .itemListWrap {
      padding: 21px 20px 0px;

      .itemListUl {
        display: flex;
        flex-flow: wrap;
      }

      .itemListLi {
        width: 141px;
        height: 266px;
        margin-right: 7px;
        display: block;
        position: relative;

        .thumImg {
          width: 141px;
          height: 141px;
          margin-right: 20px;
          position: relative;
          display: block;
          overflow: hidden;
          border-radius: 6px;
        }

        .itemWrap {
          .itemTitle {
            font-size: 16px;
            letter-spacing: -0.23px;
            width: 108px;
            line-height: 20px;
            margin: 10px 0px 5px;
            color: rgb(119, 119, 119);
          }

          .cartButton {
            margin: 0;
            padding: 0;
            display: block;
            right: 0px;
            top: 144px;
            width: 32px;
            height: 32px;
            position: absolute;
          }

          .cartImg {
            width: 100%;
            height: 100%;
            background: url("https://t1.kakaocdn.net/friends/new_store/2.0/common/basket-pink-3.png")
              center center / 100% no-repeat;
            border-style: none;
          }
        }

        .itemPrice {
          font-size: 16px;
          letter-spacing: -0.25px;
          line-height: 20px;
          font-family: $font-SFPro;
          font-weight: bold;
        }
      }
    }
  }
}
