<<<<<<< HEAD


=======
* {
  box-sizing: border-box;
}

$font-basic: 'Apple SD Gothic Neo', AppleSDGothicNeo, 'Malgun Gothic', '맑은 고딕', sans-serif;  
$font-SFPro: SFProText;
$font-weigh-bold: bold;
$color-black: rgb(0, 0, 0);
$color-grey: rgb(102, 102, 102);
$box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 15px 0px;
>>>>>>> master
