.All {
  .allContainer {
    width: 1100px;
    margin-left: 20px;
    margin: 131px auto;
    display: flex;
    flex-wrap: wrap;
  }

  .allListContainer {
    width: 1100px;
    // margin: 131px auto;
    display: flex;
    flex-wrap: wrap;
  }
}

// .hotContainer {
//     width: 1120px;
//     padding: 180px 8px;
//     display: flex;
//     margin: 0 auto;
//     flex-wrap: wrap;
//   }
