.All {
  .allContainer {
    width: 1100px;
    margin-left: 20px;
    margin: 131px auto;
    display: flex;
    flex-wrap: wrap;
  }

  .allListContainer {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
  }
  .CategoryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .listFilter {
      z-index: 100;
      display: inline-block;
      display: flex;
      width: 376px;
      position: relative;
      height: 45px;
      border: 1px solid rgb(227, 229, 232);
    }
  }
}
