.ToyMiniDoll {
  .toyBanner {
    display: flex;
    position: relative;
    justify-content: center;

    img {
      margin-top: 66px;
    }

    p {
      position: absolute;
      top: 150px;
      left: 420px;
      font-weight: bold;
      line-height: 1.25;
      letter-spacing: -0.2px;
      color: rgb(255, 255, 255);
      height: 43px;
      font-size: 36px;
      margin-left: 30px;
    }
  }
}
