.footer_comm_j {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 0 auto;
  border: 0.5px solid hidden;
  padding-top: 0px;
  border-top: 1px solid hidden;
  border-bottom: 1px solid white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.box1_join {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid hidden;
  width: auto;
  height: 60px;
  margin: 30px 0px 0px 0px;
  padding: 30px 0px 0px 0px;
  font-size: 40px;
}

.box2_join {
  border: 1px solid #ebebeb;
  width: 520px;
  height: 852px;
  display: flex;
  margin: 40px 456px 40px 456px;
  padding: 58px 69px 139px 89px;
}
.BicBox {
  display: flex;
  justify-content: center;
}

.page-active {
  display: block;
  width: 440px;
  height: 653px;
  border: 1px solid hidden;
}
.tf_required {
  display: block;
  font-size: 12px;
  color: #000;
  font-weight: normal;
  margin-top: 40px;
}
.lab_placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 47px;
  line-height: 47px;
  color: #ccc;
}
.lab_g {
  overflow: hidden;
  position: relative;
  display: block;
  font-size: 15px;
  color: #4c4c4c;
  cursor: pointer;
}

.ebox_join {
  position: absolute;
  border: none;
  border-bottom: 2px solid #ebebeb;
  display: inline-block;
  top: 0;
  left: 0;
  width: 382px;
  height: 47px;
  line-height: 47px;
  color: #ccc;
  overflow: hidden;
  position: relative;
  display: block;
  font-size: 15px;
  font-weight: 500;
  color: #4c4c4c;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  font-family: NotoSans-Regular, AppleSDGothicNeo-Regular, "맑은 고딕",
    Malgun Gothic, "돋움", dotum, sans-serif;
  letter-spacing: -0.03em;
  word-wrap: break-word;
  input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  .ximg {
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
    font-size: 10;
    //   line-height: 0;
    text-indent: -9999px;
    vertical-align: top;
    background-image: url(https://accounts.kakao.com/assets/weblogin/techin/retina/ico_account_200221.png);
    background-position: -120px -30px;
    background-size: 200px 220px;
  }
}
.ebox_join:focus {
  border-bottom: red($color: #000000);
}

.wrap_btn2 {
  margin: 15px 0 40px;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}

.info_error {
  margin-top: 10px;
  color: #e65f3e;
  font-size: 13px;
}

.btn_g {
  display: inline-block;
  height: 42px;
  display: inline-block;
  padding: 0 31px;
  color: #252525;
  border: 1px solid #adadad;
  border-radius: 30px;
  box-sizing: border-box;
  font-size: 15px;
}

.wow {
  padding-top: 10px;
  display: flex;
}

.birthToggle {
  display: flex;
  margin-left: auto;
}

.next-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn_g {
  display: inline-block;
  height: 42px;
  padding: 0 31px;
  color: #252525;
  border: 1px solid #adadad;
  border-radius: 30px;
  box-sizing: border-box;
}

// -----밑에 X자 이미지 입니다.----------------
// ------<span className="ximg"></span>-----
.ximg {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  font-size: 10;
  //   line-height: 0;
  text-indent: -9999px;
  vertical-align: top;
  background-image: url(https://accounts.kakao.com/assets/weblogin/techin/retina/ico_account_200221.png);
  background-position: -120px -30px;
  background-size: 200px 220px;
  top: -33px;
  left: 350px;
}

.man_wman {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-top: 10px;
}
