.BucketLists {
  .bucketWrap {
    margin-bottom: 167px;
    .bucket {
      width: 1080px;
      margin: 122px auto 34px;
      .subject {
        font-size: 36px;
        font-weight: bold;
        line-height: 1.67;
        letter-spacing: -0.36px;
      }
    }
  }
}
