.Hot {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 160px 8px;

  .hotContainer {
    // width: 1120px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
