.footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%;

  .footerTop {
    height: 56px;
    background-color: rgb(60, 64, 75);
    color: white;
    font-size: 14px;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 auto;
      width: 1080px;

      img {
        width: 65px;
      }
  
      .footerTop_banner {
        padding: 0 26px 0 7px;
      }
  
      .footerTop_kakaoIntro {
        margin: 0px 20px;
      }
  
      .footerTop_middleBar {
        color: rgb(255, 255, 255);
      }
  
      .footerTop_brandstory {
        margin: 0px 20px;
      }
    }
  }

  .footerBottom {
    background-color: #2e2e2e;
    color: rgba(255, 255, 255, 0.7);
    height: 358px;
    display: flex;
    align-items: center;

    div {
      margin: 0 auto;
      width: 1080px;
      .footerBottom_firstline {
        padding: 28px 0 34px;
  
        .termsOfUse {
          margin-left: 10px;
          padding-left: 22px;
        }
  
        .partnershipLnquiry {
          margin-left: 10px;
          padding-left: 22px;
        }
      }
    }

    .footerBottom_kakaoInfo, .footerBottom_lastline {
      font-size: 12px;

      p {
        margin: 2px 0;
      }
    }
    
    .footerBottom_lastline {
      font-weight: bold;
      line-height: 18px;
      padding: 49px 0px 0px;
    }
  }
}